#landing {

        .formContainer {
            //max-width: 700px;
            margin-bottom: 25px;
            //background-color: rgb(248 250 252);
            //border: "2px solid",
            //borderColor: "blue",
            //border-radius: 10px;
            padding: 30px 20px;
            overflow: visible;
        }

        .formText {
            font-size: 1.1em;
            font-weight: 600;
            //flex: 1 0 150px;
            padding-right: 15px;
            text-align: right;

            @media only screen and (max-width: 590px) {
                text-align: center;
            }
        }

        .formInput {
            flex: 1 0 200px;
        }

        .formFlex {
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .quoteText .mantine-Text-root{
            margin-bottom: 3px;
        }

}